.searchResultsRow {
	background-color: white;
	display: flex;
	flex-direction: row;
	min-height: 50px;
	font-size: 20px;
	padding: 5px 10px 5px 10px;
}

.searchResultsRowId {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 5%;
	flex-wrap: wrap;
	font-size: 20px;
}

.searchResultsRowTitle {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 13%;
	padding-left: 1%;
	padding-right: 1%;
	text-decoration: none;
	color: black;
}

.searchResultsRowTitleText {
	display: block;
	width: 100%;
	font-size: 20px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
}

.searchResultsRowTextContainer {
	display: flex;
	align-items: center;
	width: 54%;
	padding-left: 1%;
	padding-right: 1%;
	text-decoration: none;
	color: black;
}

.searchResultsRowText {
	display: block;
	width: 100%;
	font-size: 20px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
}

.searchResultsRowTags {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 25%;
	flex-wrap: wrap;
}