body {
	font-family: 'Source Sans Pro', sans-serif;
    margin: 0px;
    background-color: #708090;
    height: 100vh;
}

#app {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 50px;
}

#appTitle {
	font-size: 44px;
	font-weight: bold;
	color: #e6e6e6;
}
